<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/frag01 :: htmlhead" th:with="title=#{app.title}"></head>
<style>
.contents {
	margin: 30px;
}
table, td, th {
	padding: 10px;
}
</style>
<script>
<!--
	jQuery(function($) {
		//Bootstrap プログレスバーに進捗％を設定する
		function setProgress(p) {
			$('.progress-bar').css('width', p + '%').attr('aria-valuenow', p);
			$('.progress-bar').text(p + '% 完了');
		}
		//"インポート"ボタンが押されたときに実行
		$("#subbutton").click(function() {
			if (typeof files != "undefined") {
				//ファイルタイプがエクセルの場合だけアップロードを行う
				if (files[0].type.slice(-5) == "excel") {
					uploadFile();
				} else {
					$('#info').html("ファイルが不正：エクセルファイルを選択してください");
					$('#info').css('color', '#ff0000')
				}
			}
		});
		//選択ファイルの取得：プログレスバー、メッセージをリセットする
		$("#file1").on('change', getFile);
		var files;
		function getFile(event) {
			files = event.target.files;
			percent = 0;
			setProgress(percent);
			$('#info').html("");
		}
		//ファイルのアップロード
		function uploadFile() {
			var fd = new FormData();
			fd.append("file", files[0]);
			$.ajax({
				dataType : 'json',
				url : "importExcel",
				data : fd,
				type : "POST",
				enctype : 'multipart/form-data',
				processData : false,
				contentType : false,
				xhr : function() {
					var xhr = new window.XMLHttpRequest();
					//Upload progress
					xhr.upload.addEventListener("progress", function(evt) {
						if (evt.lengthComputable) {
							var p = evt.loaded / evt.total;
							setProgress(Math.round(p * 100));
						}
					}, false);
					return xhr;
				},
				success : function(response) {
					$('#info').html(response);
					var str = response.split("：");
					if (str[0] == "アップロード成功") {
						setProgress(100);
						$('#info').css('color', 'green')
					} else {
						setProgress(0);
						$('#info').css('color', '#ff0000')
					}
				},
				error : function(response) {
					percent = 0;
					setProgress(percent);
					$('#info').html(response);
					$('#info').css('color', '#ff0000')
				}
			});
		}
	});
	-->
</script>
<body>
<div th:include="fragment/frag01 :: navbar" th:with="title=#{app.title}"></div>

<div class="contents">
<div class="container">
<!-- $$$ Body $$$$$$$$$$$$$$$$$$$$$$$$$$$  -->

      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header" th:utext="#{importForm.title}">
            Import Excel <small>(Spring MVC Demo)</small>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4 th:utext="#{importForm.msg}">インポート・メッセージ</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <table>
            <tr><td>
              <input type="file" name="file1" id="file1" class="form-control"/>
            </td></tr>
            <tr><td>
              <input type="button" id="subbutton" value="インポート" class="btn btn-primary" />
            </td></tr>
          </table>
          <div class="progress">
           <div class="progress-bar" role="progressbar" 
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
             <span class="sr-only">0% 完了</span>
           </div>
         </div> 
         <div id="info" style="color: green;"></div>

          <hr />
          <div th:include="fragment/frag01 :: footer" th:with="title=#{app.footer}"></div>

     </div>
   </div>
<!-- $$$ Body $$$$$$$$$$$$$$$$$$$$$$$$$$$  -->
</div>
</div>

</body>
</html>
