<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/frag01 :: htmlhead" th:with="title=#{app.title}"></head>

<link rel="stylesheet" href="/healthcare/css/app_base.css" />
<link rel="stylesheet" href="/healthcare/css/jtable.css" />
<script src="/healthcare/js/userTable.js"></script>

<style>
.contents {margin: 50px;}
td {padding: 1px;}
th {padding: 4px;}
</style>
<body>

<!-- $$$ Navigation Bar $$$$$  -->	
<div th:include="fragment/frag01 :: navbar" th:with="title=#{app.title}"></div>

<div class="contents">
<div class="container">

<!-- $$$ Contents Header $$$$$  -->	
<div class="row">
<div class="col-lg-12">
	<h3 class="page-header"> ユーザー一覧
		<small></small>
	</h3>
</div>
</div>

<!-- $$$ Contents Body $$$$$  -->	

</div> <!-- Container END -->
</div> <!-- Contents END -->

<div th:with="nestFrag='user-form',modalFooter='form-modal-footer',modalLg='false'" 
  th:include="fragment/frag01 :: create-modal"></div>

</body>
</html>