<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/frag01 :: htmlhead" th:with="title=#{app.title}"></head>

<style>
.contents {
	margin: 50px;
}
</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {
		packages : [ "corechart" ]
	});
	<!--
	$(document).ready(function() {
		$("#bsButton").click(showBsChart);
	});
	//血糖値
	function showBsChart() {
		$.post('/healthcare/showBsChart', //URL
		{}, //User データ 
		function(result) { //成功時のコールバック
			$("#myModalLabel").html("血糖値グラフ");
			$('#myModal').modal('show');
			var data = google.visualization.arrayToDataTable(result);
			var options = {
				title : '血糖値',
				vAxis : {
					title : "血糖値"
				},
				hAxis : {
					title : "日付"
				},
				seriesType : "bars",
				series : {
					4 : {
						type : "line"
					}
				}
			};
			var chart = new google.visualization.ComboChart(document
					.getElementById('chart_div'));
			chart.draw(data, options);
		});
	}
	//血圧
	function showBpChart() {
		alert('showBpchart');
	}
	//体温
	function showBtChart() {
		alert('showBtchart');
	}
	//体重
	function showWtChart() {
		alert('showWtchart');
	}
	-->
</script>
<body th:object="${vodListCmd}">
  <div th:include="fragment/frag01 :: navbar" th:with="title=#{app.title}"></div>

  <div class="contents">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header" th:utext="#{vodList.title}">
            Home <small>(Spring MVC Demo)</small>
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <ul class="pager">
            <li th:if="*{prev=='不可'}" class="previous disabled"><a id="prev-week"
              href="#" th:href="@{/prevWeek}">&larr; 前の週</a></li>
            <li th:if="*{prev=='可'}" class="previous"><a id="prev-week" href="#"
              th:href="@{/prevWeek}">&larr; 前の週</a></li>
            <li th:if="*{next=='不可'}" class="next disabled"><a id="next-week"
              href="#" th:href="@{/nextWeek}">次の週 &rarr;</a></li>
            <li th:if="*{next=='可'}" class="next"><a id="next-week" href="#"
              th:href="@{/nextWeek}">次の週 &rarr;</a></li>
          </ul>
          <button id="bsButton" type="button" class="btn btn-danger">血糖値</button>
          <button id="bpButton" type="button" class="btn btn-warning">血圧</button>
          <button id="btButton" type="button" class="btn btn-info">体温</button>
          <button id="wtButton" type="button" class="btn btn-success">体重</button>
          <table class="table table-condensed">
            <tr>
              <td>種別</td>
              <td th:each="vm : *{vms}">
                <p th:text="${vm.name}" class="text-primary" align="center">種別</p>
              </td>
            </tr>
            <tr>
              <td>記入時間</td>
              <td th:each="vm : *{vms}">
                <p th:text="${vm.jikan}" class="text-primary" align="center">測定時間</p>
              </td>
            </tr>
            <tr th:each="vod: *{vods}">
              <td th:text="${vod.sokuteiBi}" class="text-success" align="center">測定日</td>
              <td th:each="vt: ${vod.vitals}" align="right"><span
                th:if="${vt.sokuteiTi} lt ${vt.vitalM.kijunMax}" th:text="${vt.sokuteiTi}">測定値</span>
                <span th:if="${vt.sokuteiTi} >= ${vt.vitalM.kijunMax}"
                th:text="${vt.sokuteiTi}" class="text-danger">測定値</span></td>
            </tr>
          </table>
          <hr />
          <div th:include="fragment/frag01 :: footer" th:with="title=#{app.footer}"></div>
        </div>
      </div>

    </div>
  </div>

  <div th:include="fragment/frag01 :: chart-create-modal"></div>

</body>
</html>